$sub-color: #46DDFF;
$main-color: #2D3CDE;
$point-color: #74ff58;
$skill-color: #74ff58;
$dark-color: #000000;
$white-color: #ffffff;

$font-size-hero-title: clamp(5.2rem, 20vw, 20rem);
$font-size-section-title: 76px;
$font-size-heading: 24px;
$font-size-body: 16px;
$font-size-section-title-small: 32px;
$font-size-heading-small: 18px;
$font-size-body-small: 12px;
$sparkle-size: clamp(17px, 2.45vw, 31px);

$font-weight-regular: 300;
$font-weight-bold: 700;
